/*CSS Reset*/
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquotse, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section { 
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}



/*box容器*/
.box{
    width: 600px;
    background-color: white;
    margin: auto;
    
}

/*header內容*/

.header{
    color: rgb(0, 0, 0);
    border: solid 1px;
    padding: 20px;
}

.header img{
    width: 200px;
}

/*content內容*/

.box .content{
    background-color: rgb(255, 255, 255);
    padding: 10px;
    border: 2px solid red;
}
.box .content p{
    color : rgb(0, 0, 255);
    margin-bottom: 10px;
}

.box .content .btn {    
    width: 100px;
    color : white;
    text-align: center;
    background-color: blue;    
    padding: 10px;
    display: block; 
}

.box .btn:hover{
    background-color: black;  /*滑鼠滑過的顏色*/
}

/*footer內容*/

.box .footer{
    background-color: rgb(241, 171, 171);
    color: rgb(0, 0, 0);
    text-align: center;
    padding: 10px;
}

