<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
	</startup>
	<connectionStrings>
		<add name = "ConnectionString" connectionString ="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=G:\我的雲端硬碟\Exercise\C#\CurrencyConverter_Database\CurrencyConverter_Database\Database\CurrencyConverter.mdf;Integrated Security=True" />
	</connectionStrings>
</configuration>