<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
	<connectionStrings>
  <add name="ConnectionString" connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=E:\GoogleDisk\0728\C#\LinqToSQL\LinqData.mdf;Integrated Security=True " />
	  <!--    
	  <add name="LinqToSQL.Properties.Settings.LinqDataConnectionString"
   connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=|DataDirectory|\LinqData.mdf;Integrated Security=True"
   providerName="System.Data.SqlClient" />-->

 </connectionStrings>
</configuration>
