h1,h2,h3,h4,h5,h6,p,div,span,a,li,ul,ol,table,th,td{
    font-size: 50px;
    color: #000000; 
    background: #ffb7b7;

}

h2{
    display : inline ;
    background: #d500f1;
}

a{
    color: #ff1616;
}

h3{
    border-bottom: 4px solid #ff0000;
    border-left: 4px solid #ff0000;
}

img{
    border : 4px solid #757171;
}
span.red{
    color: #ff0000;
    background: #ffffff;
    font-size: 50px;
    font-weight: bold;
}

span.blue{
    color: #0004ff;
    background: #ffffff;
    font-size: 50px;
    font-weight: bold;
}